nav{
    background: black;
}
.ham-menu{
    height: 50px;
    width: 50px;
    position: relative;
}
.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: blue;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: 
    translate(-50%, -50%)
    rotate(-45deg);
}

.ham-menu.active span:nth-child(2){
opacity: 0;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: 
    translate(-50%, -50%)
    rotate(45deg);
}